body {
    font-weight: bold;
    font-family: 'IM Fell English SC', serif;
    color: #311c0f;
    margin: 0px; 
    padding: 0px;
}

button {
    background-color: #311c0f;
    color: #f5dfb3;
}

img {
    max-width: 100%;
    height: auto;
}

.background { 
    background-image: url("../images/Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container-flex {
    height: 100vh;
}

.row {
    height: 100%;
}

.choice:hover {
    font-weight: bold;
}

#sheet-home {
    background-image: url("../images/Sheet.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}